@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface font-body overflow-x-hidden;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0c0e12; }
::-webkit-scrollbar-thumb { background: #424854; border-radius: 2px; }

/* Hide scrollbar for headless overflow */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
